package components

import (
	"fmt"
)

templ Card(props CardProps) {
	@templ.Raw(fmt.Sprintf("<div class=\"%s rounded-md shadow-md border text-left p-4 mx-auto mb-4\" style=\"max-width: %s\">", props.Class, props.MaxWidth))
	<div>
		if len(props.Title) > 0 {
			<h3 class="font-bold text-lg">{ props.Title }</h3>
		}
		if len(props.Description) > 0 {
			<p class="text-gray-500 mb-4">{ props.Description }</p>
		}
	</div>
	{ children... }
	@templ.Raw("</div>")
}
